.sub-contact__inner{
	text-align: center;

	margin: rem(69) auto 0;
	max-width: rem(757);
	width: 100%;
}

.sub-contact__head{
	margin-bottom: rem(64);
}

.sub-contact__title{
	font-size: rem(24);
	font-family: $second-font-family;
	color: $color-text;

	margin-bottom: rem(20);
}

.sub-contact__description{
	font-size: rem(18);
	font-family: $second-font-family;
	line-height: 1; //rem( 31/18 )
	color: $color-text-grey;

	@include mq(md){
		margin-left: rem(30);
		margin-right: rem(30);

	}

	@include mq(sm){
		font-size: rem(10);
	}
}

.sub-contact__content{
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: rem(28);

	@include mq(md){
		flex-direction: column;

		margin-left: rem(30);
		margin-right: rem(30);

	}

	
}

.sub-contact__content--textarea{
	align-items: flex-start;

	margin-bottom: rem(33);
	@include mq(md){
		align-items: center;
		flex-direction: column;
		text-align: left;
	}
}
.sub-contact__content--check{
	justify-content: center;
	margin-bottom: rem(33);
}
.sub-contact__content--submit{
	justify-content: center;
	margin-bottom: rem(61);

	@include mq(md) {
		margin-bottom: rem(80);
	}
}




.sub-contact__label{
	font-size: rem(18);
	font-family: $second-font-family;
	line-height: 1; //rem( 31/18 )
	color: $color-text-grey;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include mq(md){
		text-align: left;
		max-width: rem(540);
		width: 100%;

		justify-content: flex-start;

		margin-left: rem(30);
		margin-right: rem(30);

		margin-bottom: rem(5);
	}

	@include mq(sm){
		max-width: rem(299);
		width: 100%;

		font-size: rem(12);
	}

}

.sub-contact__required{
	font-size: rem(10);
	font-family:$second-font-family;
	line-height: 1.5; //rem( 15/10 )
	color: $color-text-grey;

	padding: rem(1) rem(5) rem(2);
	margin-left: rem(10);
	background-color: $color-text-red;
	color: white;

	@include mq(sm){
		font-size: rem(9);
		padding: rem(1) rem(4) 0;
	}
}

.sub-contact__text{
	border: 1px solid $color-text-grey;
	max-width: rem(540);
	width: 100%;
	
	background-color: #fff;
	
	color: inherit;
	font-family: inherit;
	font-size: rem(18);
	padding: rem(7) rem(10) rem(8);

	@include mq(sm){
		max-width: rem(299);
		width: 100%;
	}

}

.sub-contact__text--textarea{
	height: rem(160);

	@include mq(md){
		margin: 0 auto;

	}
	
}
.sub-contact__check--label{
	display: flex;
	align-items: center;
}

.sub-contact__check{
	width: rem(22);
	height: rem(22);

	@include mq(sm){
		width: rem(15);
		height: rem(15);
	}

}

.sub-contact__check--text{
	font-size: rem(16);
	font-family:$second-font-family;
	line-height: 1; //rem( 31/18 )
	color: $color-text-grey;

	margin-left: rem(15);

	@include mq(sm){
		font-size: rem(10);
		margin-left: rem(8);
	}
}

.sub-contact__submit{
	-webkit-appearance: none;
	background-color: $color-text-orange;
	border: none;
	border-radius: rem(15);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	padding: rem(14) rem(105) rem(15);
	text-decoration: none;

	font-family: $second-font-family;
  font-size: rem(23);
  // letter-spacing: 0.15em;
  font-weight: 700;

	@include mq(sm){
		font-size: rem(10);
		padding: rem(6) rem(43);
	}
}

.contact__recommendation--layout{
	margin-bottom: rem(145);
}