@charset "UTF-8";
/* FontFamily */
body {
  font-family: "Lora", serif;
}

/* font-weight */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

label {
  line-height: 1;
  font-size: 16px;
  font-size: 1rem;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.appeal {
  background-color: #FAFFF4;
}

.appeal__title {
  display: block;
  font-family: "Noto Serif JP", serif;
  font-weight: bold;
  margin-bottom: 95px;
  margin-bottom: 5.9375rem;
  padding-top: 58px;
  padding-top: 3.625rem;
  text-align: center;
}

.appeal__title p {
  display: inline-block;
  margin: 0 auto;
  padding: 10px 75px 10px 33px;
  padding: 0.625rem 4.6875rem 0.625rem 2.0625rem;
  position: relative;
  background-color: transparent;
  font-family: "Noto Serif JP", serif;
  font-size: 30px;
  font-size: 1.875rem;
  border-bottom: 2px solid #525252;
}

.appeal__title--strong {
  font-size: 63px;
  font-size: 3.9375rem;
  color: #47B45E;
  margin: 0 14px 0 16px;
  margin: 0 0.875rem 0 1rem;
}

.appeal__title p:before,
.appeal__title p:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.appeal__title p:before {
  border: 12px solid transparent;
  border-top: 12px solid #525252;
}

.appeal__title p:after {
  border: solid 14px transparent;
  border-top: solid 14px #fff;
  margin-top: -5px;
}

.appeal__cards {
  padding-bottom: 135px;
  padding-bottom: 8.4375rem;
}

.appeal__cards--top,
.appeal__cards--bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appeal__cards--top {
  margin-bottom: 83px;
  margin-bottom: 5.1875rem;
}

.appeal__card {
  position: relative;
  border: 1px solid #47B45E;
  border: 0.0625rem solid #47B45E;
  border-radius: 1.125rem;
  background-color: #fff;
  width: 100%;
  max-width: 280px;
  max-width: 17.5rem;
  padding: 11px 19px 17px;
  padding: 0.6875rem 1.1875rem 1.0625rem;
  margin-right: 55px;
  margin-right: 3.4375rem;
}

.appeal__card:nth-of-type(3) {
  margin-right: 0;
}

.appeal__card--point {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -18px;
  margin-top: -1.125rem;
  margin-left: -6px;
  margin-left: -0.375rem;
  width: 48px;
  width: 3rem;
}

.appeal__card--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.appeal__card--title {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4375;
  text-align: center;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
  padding: 0 25px;
  padding: 0 1.5625rem;
}

.appeal__card--image {
  height: 123px;
  height: 7.6875rem;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}

.appeal__card--description {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.4375;
  text-align: left;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
}

.footer__menu--items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #47B45E;
  color: #fff;
}

.footer__menu--item {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0px;
  padding: 22px 81px 23px;
  padding: 1.375rem 5.0625rem 1.4375rem;
}

.footer__menu--item a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.footer__menu--item a:hover {
  opacity: 0.5;
}

.footer__credit {
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 7px;
  padding-top: 0.4375rem;
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
}

.guide {
  background-color: #FAFFF4;
}

.header__menu {
  width: 100%;
  background: #47B45E;
  color: #fff;
  z-index: 100;
  position: sticky;
  top: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 50px 34px;
  padding: 2.0625rem 3.125rem 2.125rem;
}

.header__item {
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 0px;
}

.header__item a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.header__item a:hover {
  opacity: 0.5;
}

.inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (max-width: 767px) {
  .inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*

.l-inner {
  width: 100%;
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}

*/
.main-visual {
  width: 100%;
  height: 100vh;
  background: url(../images/mv_background-visual.png) no-repeat center top/cover;
}

@media screen and (max-width: 767px) {
  .main-visual {
    height: 739px;
    background: url(../images/mv_sp_background-visual.png) no-repeat center center/cover;
  }
}

.main-visual__header {
  position: relative;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 10;
}

.main-visual__header--inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.main-visual__logo {
  display: block;
  width: 75px;
  margin: 15px auto 15px 50px;
  margin: 0.9375rem auto 0.9375rem 3.125rem;
}

@media screen and (max-width: 767px) {
  .main-visual__logo {
    width: 35px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .main-visual__logo img {
    display: block;
  }
}

.main-visual__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
}

.main-visual__nav--mail {
  width: 150px;
  width: 9.375rem;
  background-color: #FFBE3B;
  text-align: center;
}

.main-visual__nav--mail img {
  padding: 17px 54px 0;
  padding: 1.0625rem 3.375rem 0;
}

.main-visual__nav--mail p {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
  letter-spacing: 1;
  line-height: 1;
}

.main-visual__nav--line {
  width: 100px;
  width: 6.25rem;
  background-color: #19C755;
  text-align: center;
}

.main-visual__nav--line img {
  padding: 14px 26px 11px 24px;
  padding: 0.875rem 1.625rem 0.6875rem 1.5rem;
}

.main-visual__nav--line p {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 9px;
  padding-bottom: 0.5625rem;
  letter-spacing: 1;
  line-height: 1;
}

.question {
  background-color: #FAFFF4;
}

.sub-visual {
  width: 100%;
  background: #FAFFF4;
}

.sub-visual__img {
  height: 960px;
  width: 100%;
  background: url(../img/サブビュー.png) no-repeat center center/cover;
  position: relative;
  margin-top: 315px;
}

@media screen and (max-width: 767px) {
  .sub-visual__img {
    height: 250px;
    width: 100%;
  }
}

.sub-visual__1 {
  width: 555px;
  height: 259px;
  position: absolute;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 0;
}

.sub-visual__2 {
  width: 492px;
  height: 186px;
  position: absolute;
  left: 768px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 40%;
}

.sub-visual__3 {
  width: 540px;
  height: 222px;
  position: absolute;
  left: 167px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 60%;
}

.sub-visual__4 {
  width: 524px;
  height: 186px;
  position: absolute;
  left: 725px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 80%;
}

.sub-contact__inner {
  text-align: center;
  margin: 69px auto 0;
  margin: 4.3125rem auto 0;
  max-width: 757px;
  max-width: 47.3125rem;
  width: 100%;
}

.sub-contact__head {
  margin-bottom: 64px;
  margin-bottom: 4rem;
}

.sub-contact__title {
  font-size: 24px;
  font-size: 1.5rem;
  font-family: "Noto Serif JP", serif;
  color: #2E2E2E;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.sub-contact__description {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: 'Hiragino Kaku Gothic ProN',sans-serif;
  line-height: 1;
  color: #707070;
}

.sub-contact__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
  margin-bottom: 1.75rem;
}

.sub-contact__content--textarea {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 33px;
  margin-bottom: 2.0625rem;
}

.sub-contact__content--check {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 33px;
  margin-bottom: 2.0625rem;
}

.sub-contact__content--submit {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 61px;
  margin-bottom: 3.8125rem;
}

.sub-contact__label {
  font-size: 18px;
  font-size: 1.125rem;
  font-family: 'Hiragino Kaku Gothic ProN',sans-serif;
  line-height: 1;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-contact__required {
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "Noto Serif JP", serif;
  line-height: 1.5;
  color: #707070;
  padding: 1px 5px 2px;
  padding: 0.0625rem 0.3125rem 0.125rem;
  margin-left: 10px;
  margin-left: 0.625rem;
  background-color: #FF0000;
  color: white;
}

.sub-contact__text {
  border: 1px solid #707070;
  max-width: 540px;
  max-width: 33.75rem;
  width: 100%;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 7px 10px 8px;
  padding: 0.4375rem 0.625rem 0.5rem;
}

.sub-contact__text--textarea {
  height: 160px;
  height: 10rem;
}

.sub-contact__check {
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
}

.sub-contact__check--text {
  font-size: 16px;
  font-size: 1rem;
  font-family: "Noto Serif JP", serif;
  line-height: 1;
  color: #707070;
  margin-left: 15px;
  margin-left: 0.9375rem;
  vertical-align: text-top;
}

.sub-contact__submit {
  background-color: #FF7F00;
  border: none;
  border-radius: 0.9375rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 14px 105px 15px;
  padding: 0.875rem 6.5625rem 0.9375rem;
  text-decoration: none;
  font-family: "Noto Serif JP", serif;
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 700;
}

.karikarikari {
  margin-bottom: 145px;
  margin-bottom: 9.0625rem;
}

.test {
  padding: 10px;
  margin: 0 auto;
  color: #f00;
  background-color: #fff;
}

body {
  font-size: 60px;
  font-size: 3.75rem;
}
