@charset "UTF-8";
/* FontFamily */
body {
  font-family: "";
}

/* font-weight */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.appp {
  margin: 1px;
}

.header {
  background: rgba(0, 0, 0, 0);
  height: 100px;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 75px;
  margin-left: 80px;
  margin-left: 5rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  color: #FFF;
}

.header__nav-mail {
  width: 150px;
  background: url(../img/メールのアイコン.png) no-repeat center;
}

.header__nav-mail a {
  text-decoration: none;
}

.header__nav-line {
  width: 50px;
  background: url(../img/LINE_APP_iOS.png) no-repeat;
}

.header__nav-line a {
  text-decoration: none;
}

.inner {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

/*

.l-inner {
  width: 100%;
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
  }
}

*/
.main-visual {
  height: 959px;
  width: 100%;
  background: url(../img/メインビュー.png) no-repeat center center/cover;
  position: relative;
  top: 0;
}

.menu {
  height: 87px;
  width: 100%;
  background: #47B45E;
  color: #fff;
  z-index: 101;
  position: sticky;
  top: 0;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  font-size: 20px;
  width: 100%;
}

.menu__item a {
  text-decoration: none;
  display: block;
  font-weight: 700;
  text-align: center;
}

.menu__item a:hover {
  opacity: 0.5;
}

.sub-visual {
  width: 100%;
  background: #FAFFF4;
}

.sub-visual__img {
  height: 960px;
  width: 100%;
  background: url(../img/サブビュー.png) no-repeat center center/cover;
  position: relative;
  margin-top: 315px;
}

.sub-visual__1 {
  width: 555px;
  height: 259px;
  position: absolute;
  left: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 0;
}

.sub-visual__2 {
  width: 492px;
  height: 186px;
  position: absolute;
  left: 768px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 40%;
}

.sub-visual__3 {
  width: 540px;
  height: 222px;
  position: absolute;
  left: 167px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 60%;
}

.sub-visual__4 {
  width: 524px;
  height: 186px;
  position: absolute;
  left: 725px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 80%;
}

.appp {
  margin: 1px;
}

.test {
  padding: 10px;
  margin: 0 auto;
  color: #f00;
  background-color: #fff;
}

body {
  font-size: 60px;
  font-size: 3.75rem;
}
