/* FontFamily */
$base-font-family: "";
$second-font-family: "";

body {
  font-family: $base-font-family;
}

/* font-weight */
$regular: 300;
$normal: 400;
$bold: 700;


$color-main: #47B45E;
$color-accent: #FF7F00;
$color-text: #2E2E2E;
$layout-width-inner:1440px;
$font-en: ‘Lora’, sans-serif;
$font-ja: ‘Noto Sans JP’,sans-serif;
