.appeal{
  background-color: $color-background;
}

.appeal__title{
  display: block;
  font-family: $second-font-family;
  font-weight: bold;
  margin-bottom: rem(95);
  padding-top: rem(58);

  text-align: center;
  }

  
  .appeal__title p {
    display: inline-block;
    margin: 0 auto;
    padding: rem(10) rem(75) rem(10) rem(33);
    
    position: relative;
    background-color: transparent;
    // width: 35%;

    font-family: $second-font-family;
    font-size: rem(30);

    border-bottom: 2px solid #525252;
 
  }

  
  .appeal__title--strong{
    font-size: rem(63);
    color: $color-main-2;
    margin: 0 rem(14) 0 rem(16)
  }

  .appeal__title p:before,
  .appeal__title p:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    }
    
    .appeal__title p:before {
    border: 12px solid transparent;
    border-top: 12px solid #525252;
    }
    
    .appeal__title p:after {
    border: solid 14px transparent;
    border-top: solid 14px #fff;
    margin-top: -5px;
    }


.appeal__cards{
  padding-bottom: rem(135);
}

.appeal__cards--inner{
  display: flex;
  flex-wrap: wrap;
  // align-content: center;

  max-width: rem(1060);
  width: 100%;
  margin: 0 auto;
}

.appeal__cards--top{
  margin-bottom: rem(83);
}

.appeal__card{
  position: relative;
  border: rem(1) solid $color-main-2;
  border-radius: rem(18);
  background-color: #fff;

  max-width: rem(280);
  width: 100%;
  // height: 100%;

  // width: calc((100% / 3) - (11rem * 2 / 3));
  // max-width: rem(280);

  padding: rem(11) rem(19) rem(17);


  margin-top:rem(75);
  margin-right:rem(110);

}

.appeal__card:nth-of-type(3n){
  margin-right: 0;
  @include mq(lg) {
    margin-right: rem(110);
}
}


.appeal__card--point{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: rem(-18);
  margin-left: rem(-6);

  width: rem(48);
}

.appeal__card--content{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.appeal__card--title{
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.4375; //rem( 23 / 16 )
  text-align: center;

  margin-bottom: rem(18);
  padding: 0 rem(25);
}

.appeal__card--image{
  height: rem(123);
  width: auto;
  object-fit: cover;

  margin-bottom: rem(18);
}

.appeal__card--description{
  font-size: rem(12);
  line-height: 1.4375; //rem( 23 / 16 )
  text-align: left;
}