.appeal{
  background-color: $color-background;
}

.appeal__title{
  display: block;
  font-family: $second-font-family;
  font-weight: bold;
  padding-top: rem(58);
  margin-bottom: rem(20);

  text-align: center;

  @include mq(md){
    padding-top: rem(45);
    margin-bottom: rem(5);
  }

  @include mq(sm){
    padding-top: rem(32);
    margin-bottom: rem(-10);
  }
  }

  
  .appeal__title p {
    display: inline-block;
    margin: 0 auto;
    padding: rem(10) rem(75) rem(10) rem(33);
    
    position: relative;
    background-color: transparent;
    // width: 35%;

    font-family: $second-font-family;
    font-size: rem(30);

    border-bottom: 1px solid #525252;

    @include mq(md){
      font-size: rem(16);

      padding: rem(8) rem(53) rem(8) rem(25);
    }
 
    @include mq(sm){
      font-size: rem(16);

      padding: rem(6) rem(31) rem(6) rem(17);
    }
  }

  
  .appeal__title--strong{
    font-size: rem(63);
    font-family: $base-font-family;
    color: $color-main-2;
    margin: 0 rem(14) 0 rem(16);

    @include mq(md){
      font-size: rem(33);
      margin: 0 rem(9) 0 rem(10);
    }

    @include mq(sm){
      font-size: rem(33);
      margin: 0 rem(3) 0 rem(3);
    }
  }

  .appeal__title p:before,
  .appeal__title p:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    }
    
    .appeal__title p:before {
    border: 12px solid transparent;
    border-top: 12px solid #525252;
    }
    
    .appeal__title p:after {
    border: solid 14px transparent;
    border-top: solid 14px $color-background;
    margin-top: -4px;
    }


.appeal__cards--inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // align-content: center;

  max-width: rem(1170);
  width: 100%;
  margin: 0 auto;

  padding-bottom: rem(135);

  @include mq(md){
    padding-bottom: rem(84);
  }
  @include mq(sm){
    padding-bottom: rem(34);
  }
}

.appeal__cards--top{
  margin-bottom: rem(83);
}

.appeal__card{
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: inherit;

  border: rem(1) solid $color-main-2;
  border-radius: rem(18);
  background-color: #fff;

  max-width: rem(280);
  width: 100%;
  padding: rem(11) rem(19) rem(17);


  margin-top:rem(75);
  margin-right:rem(55);
  margin-left:rem(55);

  @include mq(md){
		margin-top:rem(64);
	}

  @include mq(sm){
		margin-top:rem(53);
	}

}

.appeal__card--point{
  position: absolute;
  top: 0;
  left: 0;
  margin-top: rem(-18);
  margin-left: rem(-6);

  width: rem(48);
}

.appeal__card--content{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.appeal__card--title{
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.4375; //rem( 23 / 16 )
  text-align: center;
 
  margin-bottom: rem(18);
  padding: 0 rem(23);
}

.appeal__card--image{
  height: rem(123);
  width: auto;
  object-fit: cover;

  margin-bottom: rem(18);
}

.appeal__card--description{
  font-size: rem(12);
  line-height: 1.4375; //rem( 23 / 16 )
  text-align: left;
}