.burger-menu {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.l-burger-menu {
  position: fixed;
  top: rem(12);
  right: rem(20);
  z-index: 2000;
  overflow: visible;
}

.btn-trigger {

  @include mq(md) {
    position: relative;
    width: rem(44);
    height: rem(44);
    border-radius: 50%;
    background: $white;
    cursor: pointer;
  }
}
.btn-trigger span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 24px;
  height: 2px;
  background-color: $black;
  border-radius: 1px;
}
.btn-trigger, .btn-trigger span {
  display: inline-block;
  transition: all .5s;
  box-sizing: border-box;
}
.btn-trigger span:nth-of-type(1) {
  top: 14px;
}
.btn-trigger span:nth-of-type(2) {
  top: 21px;
}
.btn-trigger span:nth-of-type(3) {
  bottom: 14px;
}

// 

#btn01.active span:nth-of-type(1) {
  -webkit-transform: translateY(7px) rotate(-45deg);
  transform: translateY(7px) rotate(-45deg);
  left: 11px;
}
#btn01.active span:nth-of-type(2) {
  opacity: 0;
}
#btn01.active span:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
  transform: translateY(-7px) rotate(45deg);
  left: 10px;
}