.drawer-menu {
  display: none;

  @include mq(md) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-main-2;
    z-index: 100;
    padding-top: rem(119);
  }
}

.drawer-menu__lists {
}

.drawer-menu__list {
  text-align: center;
  max-width: rem(247);
  width: 100%;
  margin: auto;
  a {
    font-size: rem(14);
    display: block;
    text-decoration: none;
    color: $white;
    padding: rem(27) 0 rem(8);
    line-height: (20 / 14);
    text-align: center;
    border-bottom: 1px dashed $white;
  }
}
