.guide {
  padding-top: rem(65);
  padding-bottom: rem(105);
  background-color: $color-background;

  @include mq(md) {
    padding-bottom: rem(37);
    padding-left: rem(20);
    padding-right: rem(20);
  }
}

.user-guide__head {
  padding-bottom: rem(52);

  @include mq(md) {
    padding-top: rem(55);
    padding-bottom: rem(35);
  }
}

.user-guide__contents {
  display: flex;
  flex-wrap: wrap;
  max-width: rem(1110);
  width: 100%;
  margin: auto;

  @include mq(md) {
    max-width: rem(375);
    width: 100%;
  }
}

.guide-card {
  // max-width: rem(330); // カンプではguide-card5−6の幅は340px。間違いの可能生あり。
  width: calc(
    32% - 47px * 2 / 3
  ); // カンプではguide-card5−6の幅は340px。間違いの可能生あり。
  // width: 100%;
  padding: rem(45) rem(27) rem(16) rem(30);
  background: $white;
  border: 0.5px solid $color-main;
  font-family: $second-font-family;
  position: relative;
  margin-top: rem(35); // あとで消すかも
  margin-left: rem(47);
  color: #2e2e2e;

  &:nth-child(3n + 1) {
    margin-left: 0;
    
    @include mq(md) {
      margin-left: rem(19);
    }
  }

  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    margin-top: rem(100);

    @include mq(md) {
      margin-top: rem(17);
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    .guide-card__img {
      width: rem(135);
      margin: auto;
      margin-bottom: rem(30);

      @include mq(md) {
        width: rem(64);
        margin-bottom: rem(14);
      }
    }
  }

  &:nth-child(5),
  &:nth-child(6) {
    .guide-card__img {
      width: rem(140);
      margin: auto;
      margin-bottom: rem(23);

      @include mq(md) {
        width: rem(64);
        margin-bottom: rem(14);
      }
    }
  }

  &:nth-child(1) {
    &::before {
      content: "STEP 01";
    }
  }

  &:nth-child(2) {
    &::before {
      content: "STEP 02";
    }
  }

  &:nth-child(3) {
    &::before {
      content: "STEP 03";
    }
  }

  &:nth-child(4) {
    &::before {
      content: "STEP 04";
    }
  }

  &:nth-child(5) {
    &::before {
      content: "STEP 05";
    }
  }

  &:nth-child(6) {
    &::before {
      content: "STEP 06";
    }
  }

  @include mq(md) {
    width: calc(
      50% - 19px / 2
    ); // カンプではguide-card5−6の幅は340px。間違いの可能生あり。
    margin-left: rem(19);
    margin-top: rem(17);

    &:nth-child(2n + 1) {
      margin-left: 0;
    }
  }

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      top: 170px;
      right: -24px;
      border-style: solid;
      border-width: 42px 0 42px 24px;
      border-color: transparent transparent transparent $color-main-2;

      @include mq(md) {
        right: -12px;
        top: 80px;
        border-width: 20px 0 20px 12px;
        border-color: transparent transparent transparent $color-main-2;
      }
    }
  }

  @include mq(md) {
    max-width: rem(156);
    padding: rem(23) rem(13) rem(15) rem(14);
  }

  &::before {
    position: absolute;
    left: 0;
    top: -36px;
    background: $color-main-2;
    color: $white;
    font-size: rem(24);
    width: 191px;
    height: 36px;
    padding-left: 32px;
    clip-path: polygon(0% 100%, 0% 0%, 85% 0%, 100% 100%);

    @include mq(md) {
      width: rem(90);
      height: rem(17);
      padding-left: rem(15);
      font-size: rem(12);
      top: -17px;
    }
  }
}

.guide-card__title {
  font-size: rem(25);
  line-height: (36 / 25);
  text-align: center;
  color: #2e2e2e;
  margin-bottom: rem(30);

  @include mq(md) {
    font-size: rem(12);
    line-height: (17 / 12);
    margin-bottom: rem(14);
  }
}

.guide-card__img {
  max-width: rem(192);
  margin-bottom: rem(30);

  @include mq(md) {
    max-width: rem(91);
    margin-bottom: rem(14);
  }

  img {
  }
}

.guide-card__text {
  line-height: (23 / 16);
  text-align: left;
  font-weight: $normal;
  letter-spacing: -0.5px;

  @include mq(md) {
    font-size: rem(10);
    line-height: (15 / 10);
  }
}

// 必要な書類 ***************************

.user-guide__required {
  max-width: rem(1110);
  width: 100%;
  padding: rem(21) rem(147) rem(22);
  background: $white;
  border: 1px solid $color-main;
  margin: auto;
  margin-top: rem(113);
  position: relative;

  @include mq(md) {
    max-width: rem(375);
    width: 100%;
    padding: rem(13) rem(0) rem(22) rem(83);
    margin: rem(56) auto 0;

  }

  &::before {
    content: "必要な書類";
    position: absolute;
    left: 0;
    top: -36px;
    background: $color-main-2;
    color: $white;
    font-size: rem(20);
    width: 164px;
    height: 36px;
    padding-left: 22px;
    line-height: 36px;
    clip-path: polygon(0% 100%, 0% 0%, 85% 0%, 100% 100%);

    @include mq(md) {
      width: rem(95);
      height: rem(17);
      padding-left: rem(15);
      font-size: rem(12);
      top: -17px;
      line-height: 17px;
      padding-left: rem(13);
    }
  }
}

.required__lists {
  display: flex;
  flex-wrap: wrap;
  text-align: left;

  @include mq(md) {
    display: block;
  }
}

.required__list {
  display: block;
  padding-left: rem(40);
  color: $black;
  position: relative;

  @include mq(md) {
    font-size: rem(10);
    padding-left: rem(23);
    margin-bottom: rem(10);
  }

  &:nth-child(2n + 1) {
    max-width: rem(365);
    width: 100%;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    margin-bottom: rem(22);

    @include mq(md) {
      margin-bottom: rem(10);
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: rem(29);
    height: rem(22);
    background: url(/assets/images/common/icon-checkbox.png) center center /
      cover;

    @include mq(md) {
      width: rem(17);
      height: rem(13);
    }
  }
}
