// header
.header__menu {
  // height: 87px;
  width: 100%;
  background: #47B45E;
  color: #fff;
  z-index: 100;
  // 途中から固定↓3行だけ
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  text-align: center;
  @include mq(md) {
      display: none;
  }
}
.header__inner {
  // padding-top: 0;
  // padding-bottom: 0;
}
.header__items {
  display: flex;
  justify-content: space-between;
  padding: rem(33) rem(50) rem(34);
}
.header__item {
  font-size: rem(20);
  letter-spacing: 0px;
  a {
      text-decoration: none;
      display: inline-block;
      color: #fff;
 
      &:hover {
          opacity: 0.5;
      }
  }
}