// main-visual
.main-visual {
  // height: 959px;
  width: 100%;
  height: 100vh;
  background: url(../images/common/mv_background-visual.png) no-repeat center top / cover;
  @include mq(md) {
      height: 739px;
      background: url(../images/common/mv_sp_background-visual.png) no-repeat center center / cover;
  }
}


.main-visual__header {
  position: relative;
  background: rgba(0,0,0,0);
  // height: 100px;
  width: 100%;
  z-index: 10;
}
.main-visual__header--inner {
  display: flex;
  align-items: center;
  height: inherit;
}
.main-visual__logo{
  display: block;
  width: 75px;
  margin: rem(15) auto rem(15) rem(50);

  @include mq(md) {
      width: 35px;
      margin-right: auto;
      margin-left: 0;
    }
}

.main-visual__logo img {
  @include mq(md) {
  display: block;
  }
}
      
.main-visual__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  color: #FFF;

  position: absolute;
  top: 0;
  right: 0;
}

.main-visual__nav--tel {

}
.main-visual__nav--mail {
  width: rem(150);
  background-color: $color-accent;
  text-align: center;

  img{
    padding: rem(17) rem(54) 0;
  }
  p {
      font-size: rem(16);
      padding-bottom: rem(9);
      letter-spacing: 1;
      line-height: 1; //rem(22 / 16)
  }
}
.main-visual__nav--line {
  width: rem(100);
  background-color: $color-main;
  text-align: center;

  img{
    padding: rem(14) rem(26) rem(11) rem(24);
  }
  p {
    font-size: rem(16);
    padding-bottom: rem(9);
    letter-spacing: 1;
    line-height: 1; //rem(22 / 16)
  }
}



