// menu
.menu {
  height: 87px;
  width: 100%;
  background: #47B45E;
  color: #fff;
  z-index: 101;
  // 途中から固定↓3行だけ
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  // @include mq('sp') {
  //     display: none;
  // }
}
.menu__inner {
  // padding-top: 0;
  // padding-bottom: 0;
}
.menu__items {
  display: flex;
}
.menu__item {
      font-size: 20px;
      width: 100%;
  a {
      text-decoration: none;
      display: block;
      font-weight: 700;
      text-align: center;
      &:hover {
          opacity: 0.5;
      }
  }
}