// プライバシーポリシー
.about-header-sp {
    display: none;
  
    @include mq(md) {
      display: block;
    }
  }
  
.privacy-policy {
    background: $color-background;
}

.privacy-policy__inner {
    width: rem(890);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 rem(20);
}

.privacy-policy__header {
    font-size: rem(24);
    text-align: center;
    padding-top: rem(121);
}

.privacy-policy__header-p {
    font-size: rem(18);
    padding-top: rem(65);
    letter-spacing: 0;

    @include mq('md') {
        font-size: rem(14);
        padding-top: rem(52);
    }
}

.privacy-policy__content {

}

.privacy-policy__items {
    padding-bottom: rem(107);

    @include mq('md') {
        padding-bottom: rem(48);
    }
}

.privacy-policy__item {
    margin-top: rem(62);

    @include mq('md') {
        margin-top: rem(50);
    }
}

.privacy-policy__title {
    font-size: rem(18);
    text-align: left;
    border-bottom: solid rem(1) $color-text-red;
    width: rem(300);

    @include mq('md') {
        font-size: rem(14);
        width: rem(319);
    }
}

.privacy-policy__title-p {
    font-size: rem(18);
    padding-top: rem(26.5);

    @include mq('md') {
        font-size: rem(14);
    }
}