.faq{
  margin-bottom: rem(105);
}

.faq__title {
  text-align: center;
  font-size: rem(24);
}

.faq__wrapper {
<<<<<<< Updated upstream
margin: 0 auto rem(105);
=======
<<<<<<< HEAD
margin: 0 auto;
padding: rem(120) auto;
=======
  padding-top: rem(120);
  padding-bottom: rem(105);
  background-color: $color-background;
  margin: 0 auto;
>>>>>>> 3f100aa4c1ce3bb41d3bce366fcc2a8866944aa0
>>>>>>> Stashed changes
}

.faq__list {
  width: 100%;
  max-width: rem(712); //712px
  margin: rem(50) auto rem(25); //50px auto 25px
  padding: rem(25) rem(27) rem(25) rem(34); //25px 27px 25px 34px
  background-color: $white;
  border-radius: rem(12); // 12px
  box-shadow: 2px 2px 2px rgba($black, 0.1);

}

.faq__question {
  color: $color-main-2;
  font-weight: bold;
  padding-left: rem(56); //56px
  display: inline-block;
  position: relative;
  
  &::before {
    content: "Q";
    position: absolute;
    color: $white;
    background-color: $color-main;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: rem(7); //7px
  }
}

.faq__answer {
  margin-top: rem(38); //38px
  padding-left: rem(56); //56px
  font-size: rem(16);
  color: $color-text;
  display: inline-block;
  position: relative;
  line-height: calc( 23 / 16 );
  
  &::before {
    content: "A";
    position: absolute;
    color: $white;
    background-color: $color-text-orange;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 0;
    border-radius: rem(7); //7px
  }
}

.faq__footer {
  margin: rem(80) auto rem(170);
  width: 100%;
  max-width: rem(292);
}

.faq__button {
  color: $white;
  background-color: $color-text-orange;
  font-size: rem(24);
  font-weight: bold;
  padding: rem(13) rem(90) rem(13) rem(56); //13px 56px
  border-radius: rem(30);
  text-decoration: none;
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background: $white;
    width: rem(15); //9px
    height: rem(3); //3px
    transform: rotate(45deg);
    top: rem(25);
    right: rem(60);
    border-radius: 3px;
  }

  &::after {
    content: "";
    position: absolute;
    background: $white;
    width: rem(15); //9px
    height: rem(3); //3px
    transform: rotate(-45deg);
    top: rem(34);
    right: rem(60);
    border-radius: 3px;

  }
}