.faq{
  background-color: $color-background;
}

.faq__wrapper {
  margin: 0 auto;
}

.faq__title {
    font-size: rem(30);
    font-weight: $bold;
    text-align: center;
    padding-top: rem(121);

    @include mq('md') {
        font-size: rem(24);
    }
  }


.faq__list {
  width: 100%;
  max-width: rem(712); //712px
  margin: 50px auto 25px;
  padding: rem(25) rem(27) rem(25) rem(34); //25px 27px 25px 34px
  background-color: $white;
  border-radius: rem(12); // 12px
  box-shadow: 2px 2px 2px rgba($black, 0.1);

}

.faq__question {
  color: $color-main-2;
  font-weight: bold;
  padding-left: rem(56); //56px
  display: inline-block;
  position: relative;
  
  &::before {
    content: "Q";
    position: absolute;
    color: $white;
    background-color: $color-main;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: rem(7); //7px
  }
}

.faq__answer {
  margin-top: 38px; //38px
  padding-left: rem(56); //56px
  font-size: rem(16);
  color: $color-text;
  display: inline-block;
  position: relative;
  line-height: calc( 23 / 16 );
  
  &::before {
    content: "A";
    position: absolute;
    color: $white;
    background-color: $color-text-orange;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 0;
    border-radius: rem(7); //7px
  }
}

.faq__button {
  margin-top: rem(79);
  padding-bottom: rem(171);
  text-align: center;

  @include mq('md') {
    margin-top: rem(38);
    padding-bottom: rem(36);
  }

  a {
    display: inline-block;
        width: rem(292);
        height: rem(60);
        line-height: rem(60);
        font-size: rem(24);
        font-weight: $bold;
        color: $white;
        background: $color-text-orange;
        border-radius: rem(30);
        text-decoration: none;
        transition: all 0.3s ease 0s;
        // transitionはアニメーション　allは全てに対して、今回なら0.3sかけて
        // easeは変化の過程(最初は速くみたいな) 最後の秒数はホバーしてからの発動時間

        @include mq('md') {
            width: rem(127);
            height: rem(26);
            line-height: rem(26);
            font-size: rem(10);
        }

        &:hover {
            opacity: 0.5;
        }
  }
}