.faq{
  background-color: $color-background;
}

.faq__wrapper {
  margin: 0 auto;
  //padding: rem(120) auto rem(105);
  //padding-bottom: rem(105);
  background-color: $color-background;
  padding-top: rem(120);
  padding-bottom: rem(120);

  @include mq(){
    margin-bottom: 0;
    padding-top: rem(62);
    padding-bottom: rem(37);
  }
}

.faq__title {
    //margin: rem(120) 0;
    font-size: rem(30);
    font-weight: lighter;
    text-align: center;

    @include mq('md') {
      font-size: rem(24);
      margin: rem(16) 0;
    }
  }


.faq__list {
  width: 100%;
  max-width: rem(712);
  margin: rem(50) auto rem(25);
  padding: rem(25) rem(27) rem(25) rem(34);
  background-color: $white;
  border-radius: rem(12);
  box-shadow: 2px 2px 2px rgba($black, 0.1);

  @include mq(){
  padding: rem(9) rem(13) rem(4) rem(16);
  margin-top: rem(27);
  }
}

.faq__question {
  color: $color-main-2;
  font-weight: bold;
  padding-left: rem(56);
  display: inline-block;
  position: relative;

  @include mq('md') {
    font-size: rem(10);
    padding-left: rem(26);

  }
  
  &::before {
    content: "Q";
    position: absolute;
    color: $white;
    background-color: $color-main;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: rem(7); //7px

    @include mq('md') {
    padding: 0 rem(6);
      font-size: rem(14);
    }
  }
}

.faq__answer {
  margin-top: rem(38); //38px
  padding-left: rem(56); //56px
  font-size: rem(16);
  color: $color-text;
  display: inline-block;
  position: relative;
  line-height: calc( 23 / 16 );

  @include mq('md') {
    font-size: rem(10);
    margin-top: rem(20);
    padding-left: rem(26);
  }
  
  &::before {
    content: "A";
    position: absolute;
    color: $white;
    background-color: $color-text-orange;
    // width: 44px;
    text-align: center;
    padding: 0 rem(13); // 0 13px
    font-size: rem(24); //24px
    font-weight: bold;
    left: 0;
    top: 0;
    border-radius: rem(7);

    @include mq('md') {
      font-size: rem(14);
      padding: 0 rem(6);
    }
  }
}



.faq__button {
  margin-top: rem(79);
  text-align: center;

  @include mq('md') {
    margin-top: rem(38);
    margin-bottom: rem(50);
  }

  a {
    display: inline-block;
        width: rem(292);
        height: rem(60);
        line-height: rem(60);
        font-size: rem(24);
        font-weight: $bold;
        color: $white;
        background: $color-text-orange;
        border-radius: rem(30);
        text-decoration: none;
        transition: all 0.3s ease 0s;
        // transitionはアニメーション allは全てに対して、今回なら0.3sかけて
        // easeは変化の過程(最初は速くみたいな) 最後の秒数はホバーしてからの発動時間
      position: relative;

      &::after {
        position: absolute;
        content: '';
        top: rem(20);
        right: rem(50);
        width: rem(16);
        height: rem(18);
        border-top: rem(3) solid $white;
        border-right: rem(3) solid $white;
        transform: rotate(45deg);
      }

        @include mq('md') {
            width: rem(127);
            height: rem(26);
            line-height: rem(26);
            font-size: rem(10);

            &::after {
              top: rem(9);
              right: rem(21);
              width: rem(7);
              height: rem(7);
              border-top: rem(1) solid $white;
              border-right: rem(1) solid $white;
            }
        }

        &:hover {
            opacity: 0.5;
        }
  }
}
