.structure {
    
}

.structure__inner {

    margin-top: rem(107);
    margin-bottom: rem(119);

    @include mq('md') {
        margin-top: rem(51);
        margin-bottom: rem(49);
    }

}

.structure__head {
    font-size: rem(30);
    font-weight: $bold;
    text-align: center;

    @include mq('md') {
        font-size: rem(24);
    }
}

.structure__content {
    display: block;
    width: rem(1060);
    max-width: 100%;
    border: 1px solid $color-main-2;
    position: relative;
    margin: rem(85) auto 0;
}

.structure__content-title {
    font-size: rem(23);
    font-weight: $bold;
    color: #FFF;
    background: $color-main-2;
    border-radius: rem(14);
    position: absolute;
    text-align: center;
    top: rem(-22);
    left: 50%;
    transform: translateX(-50%);
    padding: rem(4) rem(33) rem(3) rem(34);

    @include mq('md') {
        font-size: rem(16);
        top: rem(-16);
        padding: rem(3) rem(23) rem(2);
    }
}

.structure__items {
    display: flex;
    text-align: center;

    @include mq('md') {
        display: block;
    }
}

.structure__image {
    width: 463 / 1060 * 100%;
    margin: rem(56) rem(52) rem(51) rem(15);

    @include mq('md') {
        width: 100%;
        margin: rem(22) rem(5) 0 rem(5);
    }
}

.structure__p {
    width: 504 / 1060 * 100%;
    margin-top: rem(80);

    text-align: left;


    @include mq('md') {
        width: rem(279);
        margin: rem(22) rem(28);
        font-size: rem(11);
    }
}