// sub-visual
.sub-visual {
  width: 100%;
  background: $color-background;
  padding-top: rem(228);

  @include mq(md) {
    padding-top: rem(82);
}
}
.sub-visual__img {
  height: rem(960);
  width: 100%;
  background: url(../images/common/sv_background-visual.png) no-repeat center center / cover;
  position: relative;
  @include mq(md) {
      height: rem(250);
      width: 100%;
      
  }
}

.sub-visual__img::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(255, 255, 255, 0.4);
  
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.sub-visual__content {
}
.sub-visual__1 {
  width: rem(576);
  height: auto;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left:25%;

  @include mq(md) {
    width: rem(250);
    left:16%;
  }
  
  @include mq(sm) {
    width: rem(172);
    left:8%;
  }

}
.sub-visual__2 {
  width: rem(492);
  height: auto;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  right: 11%;

  @include mq(md) {
    width: rem(230);
    right: 0%;
  }

  @include mq(sm) {
    width: rem(155);
    right: 11%;
}
  
}
.sub-visual__3 {
  width: rem(540);
  height: auto;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  left: 11%;

  @include mq(md) {
    width: rem(225);
    left: 4%;
  }
  @include mq(sm) {
    width: rem(144);
}

}
.sub-visual__4 {
  width: rem(524);
  height: auto;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  right: 12%;
  @include mq(md) {
    width: rem(230);
    right: 8%;
  }
  @include mq(sm) {
    width: rem(155);
    right: 5%;
}
}