
.voice {

}

.voice__title {
  margin-top: rem(108);
  text-align: center;
  
}

.voice__cards {
  
}

.voice__card {
  display: flex;
  margin: rem(70) auto;
}

.voice__avatar {
  widows: 100%;
  max-width: rem(152); //152px

}

.voice__avatar--name {
  font-size: rem(16); //16px
}

.voice__content {
  max-width: rem(576); //576px
  width: 100%;
  font-size: rem(16);
  margin-left: rem(42); // 42px
}

.voice__content--price {
  max-width: rem(191);
  width: 100%;
  padding-bottom: rem(5);
  border-bottom: 1px solid $color-main-2;

  & span {
    margin-left: rem(45); //45px
  }
}

.voice__content--text { 
  background-color: $white;
  padding: 8px 20px 12px 10px;
  border: 0.5px solid #707070;
  border-radius: 15px;
  margin-top: 1.562rem;
  display: inline-block;
  position: relative;
  z-index: 20;

  &::before {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate( 45deg);
    left: rem(-20);
    top: rem(40);
    border-left: 25px solid orange;
    border-top: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid orange;
    // z-index: 10;
  }
  &::after {
    // content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: translate(45deg);
    left: -50px;
    top: 20px;
    border-left: 30px solid transparent;
    border-top: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    // z-index: 40;
  }

}