
.voice {
  font-family: Noto Serif JP;
  width: 100%;
  // max-width: rem(725);

}

.voice__title {
  padding-top: rem(108);
  text-align: center;
  font-weight: lighter;

  @include mq() {
    margin-top: rem(21);
  }
  
}

.voice__cards {
  display: block;
  width: 100%;
  max-width: rem(730);
  margin: 0 auto;

}

.voice__card {
  display: flex;
  width: 100%;
  margin: rem(70) 0;
  justify-content: center;
  // margin: rem(70) auto;

  @include mq() {
    margin: rem(24) 0;
  }
}

.voice__avatar {
  width: 25%;
  max-width: rem(152); //152px

}

.voice__avatar--name {
  font-size: rem(16);
  text-align: center;

  @include mq(sm){
    font-size: rem(8);
  }
}

.voice__content {
  max-width: rem(576); //576px
  width: 75%;
  margin-left: rem(42); // 42px

}

.voice__content--price {
  max-width: rem(200);
  width: 100%;
  padding-left: rem(8);
  padding-bottom: rem(5);
  border-bottom: 1px solid $color-main-2;
  font-size: rem(16);

  @include mq(sm) {
    max-width: rem(110);
    // width: 100%;
    padding-left: rem(3);
    padding-bottom: rem(2);
  }
  
  @include mq(sm) {
    font-size: rem(8);
  }

  & span {
    margin-left: rem(45); //45px

    @include mq() {
      margin-left: rem(18);
    }
  }
}

.voice__content--text { 
  background-color: $white;
  padding: rem(5) rem(20) rem(12) rem(10); //8px 20px 12px 10px
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: rem(16);
  margin-top: rem(10);
  display: inline-block;
  position: relative;
  z-index: 20;

  


  @include mq(md) {
  font-size: rem(12);
}
  @include mq(sm) {
  padding: rem(4) rem(9) rem(4) rem(10); //8px 20px 12px 10px
  font-size: rem(8);
}

  &::before {
    content: "";
    // background-color: #fff;
    position: absolute;
    width: 0;
    height: 0;
    // border-radius: 50%;
    transform: rotate( 45deg);
    left: rem(-10);
    bottom: rem(15);
    border-left: 10px solid $black;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $black;
    // box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
    // z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    // border-radius: 50%;
    transform: rotate( 45deg);
    left: rem(-9);
    bottom: rem(15);
    border-left: 10px solid $white;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
    // z-index: 40;
  }
}

