
.voice {

}

.voice__cards {
  display: block;
}

.voice__card {
  display: flex;
  justify-content: center;
  // margin: rem(70) auto;
}

.voice__avatar {
  widows: 100%;
  max-width: 9.5rem;

}

.voice__avatar--name {
  font-size: rem(16); //16px
  text-align: center;
>>>>>>> Stashed changes
}

.voice__content {
  max-width: 36rem;
  width: 100%;
  font-size: 1rem;
  margin-left: 2.625rem;
}

.voice__content--price {
  max-width: rem(200);
  width: 100%;
  padding-left: rem(8);
  padding-bottom: rem(5);
  border-bottom: 1px solid $color-main-2;

  & span {
    margin-left: 2.87rem;
  }
}

.voice__content--text { 
  background-color: #fff;
  padding: 8px 20px 12px 10px;
  border: 0.5px solid #707070;
  border-radius: 15px;
  margin-top: 1.562rem;
  display: inline-block;
  position: relative;
  z-index: 20;

  &::before {
    content: "";
    // background-color: #fff;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: rotate( 30deg);
    left: rem(-27);
    bottom: rem(14);
    border-left: 22px solid transparent;
    border-top: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 22px solid $black;
    // box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
>>>>>>> Stashed changes
    // z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate( 30deg);
    left: rem(-27);
    bottom: rem(15);
    border-left: 23px solid transparent;
    border-top: 23px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 23px solid $white;
    // z-index: 40;
  }
}

.voice--balloon {
  // background-color: blue;
  // padding: 8px 20px 12px 10px;
  // border: 0.5px solid #707070;
  // border-radius: 15px;
  // margin-top: 1.562rem;
  // display: inline-block;
  position: relative;
  z-index: 25;

  &::before {
    content: "";
    // background-color: #fff;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate( -12deg);
    left: rem(-46);
    bottom: rem(-34);
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid $black;
    // box-shadow: 0px 10px 10px -9px rgba(0,0,0,0.5);
    // z-index: 10;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate( -12deg);
    left: rem(-46);
    bottom: rem(-33);
    border-left: 19px solid transparent;
    border-top: 20px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 19px solid $white;
    // z-index: 40;
  }
}